.body {
  background-color: #2f4f30;
  color: white;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 25px;
}

.title h1 {
  font-size: 2.2rem;
}

.container-btn {
  min-width: 300px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #2a97f0;
  color: white;
  border: none;
  padding: 15px 7px;
  font-size: 1.4rem;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-nuevo {
  background-color: crimson;
}

.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.container-cards {
  width: 100%;
  min-width: 300px;
  padding: 0 10px;
}

.container-cards h2 {
  margin: 10px 0;
  font-size: 2.2rem;
}

.carta {
  position: relative;
  left: 100px;
  margin-left: -75px;
  width: 100px;
}

.cartas {
  height: 160px;
}

@media screen and (width >=768px) {
  .container-cards {
    width: 450px;
    margin: 0 auto;
  }

  .carta {
    width: 120px;
  }

  .cartas {
    height: 200px;
  }
}